<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body class="dark">
  <header>
    <h1><a href="/admin" class="dashboard-title">Admin Dashboard</a></h1>
  </header>
  <main class="dashboard-grid">
    <a href="/admin/stats" class="dashboard-box">Stats</a>
    <a href="/admin/upload" class="dashboard-box">Video hochladen</a>
    <a href="/admin/videos" class="dashboard-box">Videos verwalten</a>
    <a href="/admin/coupon-new" class="dashboard-box">Gutscheine erstellen</a>
    <a href="/admin/coupons" class="dashboard-box">Gutscheine verwalten</a>
    <a href="/admin/admins-new" class="dashboard-box">Admins erstellen</a>
    <a href="/admin/admins" class="dashboard-box">Admins verwalten</a>
    <a href="/admin/creators-new" class="dashboard-box">Creators erstellen</a>
    <a href="/admin/creators" class="dashboard-box">Creators verwalten</a>
    <a href="/admin/support" class="dashboard-box">Support-Nachrichten</a>
  </main>
</body>
</html>
