<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body class="dark">
  <header>
    <img src="/images/logo.png" alt="Logo" class="logo" />
    <h1><a href="/admin-dashboard" class="dashboard-box-title">Admin Dashboard</a></h1>
  </header>

  <main>
    <h2><%= title %></h2>
    <p>Hier entsteht der Bereich <strong><%= title %></strong>.</p>
  </main>
</body>
</html>
