<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= shopName %> - Altersverifikation</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body class="dark">
  <div class="age-check-container">
    <h1>Willkommen bei <%= shopName %></h1>
    <p>Alle dargestellten Personen sind über 18 und haben der Veröffentlichung zugestimmt.</p>
    <p>Bist du über 18 Jahre alt?</p>
    <div class="buttons">
      <a href="/?ageConfirmed=true" class="btn">Ja, ich bin über 18</a>
      <a href="https://www.google.com" class="btn">Nein, ich bin unter 18</a>
    </div>
    <a class="small-link" href="#">Cookies & AGB lesen</a>
  </div>
</body>
</html>
