<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Fehler</title>
</head>
<body>
  <h1>Fehler: <%= message %></h1>
  <% if (error) { %>
    <pre><%= error %></pre>
  <% } %>
</body>
</html>
